body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
    font-size: 20px;

    font-family: arial, sans-serif;

    background: linear-gradient(120deg, white, aliceblue, gray, white);
    background-size: 400% 400%;

    animation: motion 10s ease-in-out infinite;
}

input{
    padding: 20px 50px;

    border: none;
    font-size: 10px;
}
button{
    padding: 20px 30px;

    background: linear-gradient(120deg, red,orange,yellow,red);
    background-size: 400% 400%;

    font-size: 10px;

    border: none;
    border-radius: 30px;
    box-shadow: -4px 10px 10px rgba(0,0,0,0.6);
    transition: 0.7s ease-in-out;
    animation: motion 6s ease-in-out infinite;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    transform: translate(2px);
    box-shadow: 0 0 0;
}

p{
    text-decoration: underline;
}

#table_person{
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: -2px 5px 10px rgba(0,0,0,0.5);
    font-family: arial;
}
#table_person th, #table_person td{
    padding: 15px;
    text-align: center;
    font-size: 15px;
}
#tabla-person th{
    background-color: darkgreen;
    color: white;
}
#table_person tbody tr:nth-child(even){
    background-color: aliceblue;
}
#table_person tbody th:hover{
    background: linear-gradient(120deg, white,aliceblue,white);
    animation: motion 4s ease-in-out;
}
#table_person th{
    text-transform: uppercase;
    letter-spacing: 1px;
}


@keyframes motion{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}