body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
    background: linear-gradient(120deg, red,orange,yellow,red);
    background-size: 400% 400%;
    animation: mover 20s ease-in-out infinite;
}

button{
    border: none;
    border-radius: 20px;
    box-shadow: -3px 5px 10px rgba(0,0,0,0.9);
    cursor: pointer;
    padding: 20px 30px;
    color: black;
    background: linear-gradient(120deg, blue,purple,blue);
    background-size: 400% 400%;
    animation: mover 5s ease-in-out infinite;
    transition: 1s ease;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    transform: translate(2px);
    box-shadow: 0 0 0;
}
input{
    padding: 20px 50px;
    border-radius: 20px;
}

@keyframes mover{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}