body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 20px;

    font-family: arial;

    background: linear-gradient(120deg, aliceblue,white,gray,aliceblue);
    background-size: 400% 400%;

    animation: motion 10s ease-in-out infinite;
}

input{
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 10px;
}

p{
    font-size: 30px;
    text-decoration: underline;
}

button{
    border: none;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: -4px 7px 10px rgba(0,0,0,1);
    background: linear-gradient(240deg, purple,red,orange,red,purple);
    background-size: 400% 400%;
    transition: 0.7s ease;
    animation: motion 5s ease-in-out infinite;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    transform: translate(2px);
    box-shadow: 0 0 0;
}
#table_student{
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: -2px 3px 10px rgba(0,0,0,0.5);
    font-family: 'Times New Roman', Times;
}
#table_student th, #table_student td{
    padding: 15px;
    text-align: center;
    font-size: 15px;
}
#table_student th{
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: darkcyan;
    color: white;
}
#table_student tbody tr:nth-child(even){
    background-color: lightblue;
}
#table_student tbody th:hover{
    transform: scale(1.03);
}

@keyframes motion{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}